.ma__iframe {
  &__container {
    font-size: 0;
    padding: 13px;
  }

  @media ($bp-small-min) {
    &--full{
      @include clearfix
    }
    &--left &__container {
      float: left;
      margin-bottom: 1em;
      width: 49%;
    }
    &--right &__container {
      float: right;
      margin-bottom: 1em;
      width: 49%;
    }
  }

  .main-content--full .page-content > & {
    @include ma-container();
  }

  &__link {
    margin-top: 12px;
  }

  iframe {
    width: 100%;
    border: none;
  }
}
