.ma__iframe-group{
    @include clearfix;
}
.ma__iframe {

  &__container {
    width: 100%;
    font-size: 0;
    padding: 13px;
    margin: 20px;
  }

  @media ($bp-small-min) {
    &--full &__container {
      float: none;
      margin-bottom: 1em;
      width: 100%;
    }

    &--left &__container {
      float: left;
      margin-bottom: 1em;
      width: 45%;
    }

    &--right &__container {
      float: right;
      margin-bottom: 1em;
      width: 45%;
    }
  }

  .main-content--full .page-content > & {
    @include ma-container();
  }

  &__link {
    margin-top: 12px;
  }

  iframe {
    width: 100%;
    border: none;
  }
}
