<section class="callout">
	<div class="callout__header">
		<svg>
		    <use xlink:href="/sites/all/themes/massgov/assets/img/svg-sprite.svg#quote"></use>
		</svg>
	</div>
	<div class="callout__text">
		Here is a callout. Lorem ipusum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
	</div>
</section>