<section class="callout">
	<div class="callout__header">
		<svg role="icon">
		    <use xlink:href="/sites/all/themes/massgov/assets/img/svg-sprite.svg#quote"></use>
		</svg>
	</div>
	<div class="callout__text">
		{{calloutText}}
	</div>
</section>