// Primary colors
$c-blue-primary: #1258ae;
$c-black-primary: #141414;
$c-green-primary: #47896b;
$c-gray-primary: #3d3d3d;

//secondary colors
$c-yellow-secondary: #f6b61c;

//other global colors




